<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" type="image/png" href="{{ '/images/logo/logo.png' | relative_url }}">
  <!-- Google Fonts CDN -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
  <!-- Self host font -->
  <!-- <link rel="preload" href="{{ '/assets/fonts/playfair-display.woff2' | relative_url }}" as="font" type="font/woff2" crossorigin> -->
  <link href="{{ '/assets/css/style.css' | relative_url }}" rel="stylesheet">
  
  {% if page.description %}<meta name="description" content="{{ page.description }}" />{% endif %}
  {% if page.meta_title %}<meta property="og:title" content="{{ page.meta_title }}"/>{% else %}<meta property="og:title" content="{{ page.title }}"/>{% endif %}
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ url }}"/>
  {% if page.image %}<meta property="og:image" content="{{ page.image | absolute_url }}"/>{% endif %}
  {% if page.description %}<meta property="og:description" content="{{ page.description }}"/>{% endif %}
  <meta name="twitter:card" content="summary"/>
  {% if site.data.seo.meta_twitter_site %}<meta name="twitter:site" content="{{ site.seo.meta_twitter_site }}"/>{% endif %}
  {% if site.data.seo.meta_twitter_creator %}<meta name="twitter:creator" content="{{ site.seo.meta_twitter_creator }}"/>{% endif %}

</head>

<body class='page {{layout.bodyClass}}'>
  {% include main-menu-mobile.html %}
  <div id="wrapper" class="wrapper">
    {% include header.html headerClass='header-extra' %}
    {{content}}
  </div>
  {% include footer.html %}
  {% include sub-footer.html %}
  <script type="text/javascript" src="{{ '/assets/js/scripts.js' | relative_url }}"></script>
  {% include google-analytics.html %}
  <script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
  <script src="https://mediafiles.botpress.cloud/734c9d7d-b741-4752-a68d-486608b77a50/webchat/config.js" defer></script>
  <script>
    // Add event listener to open Calendly pop-up
    document.addEventListener("DOMContentLoaded", function() {
      var calendlyLink = document.getElementById("calendly-link");

      calendlyLink.addEventListener("click", function(e) {
        e.preventDefault();
        Calendly.initPopupWidget({ url: calendlyLink.href });
      });
    });

    // Check if the workflow.userQuestion is set to "Book Meeting" and open the pop-up
    if (workflow.userQuestion === 'Book Meeting') {
      // Calculate the horizontal and vertical position to center the pop-up
      const popupWidth = 600; // Adjust the width as needed
      const popupHeight = 900; // Adjust the height as needed
      const screenWidth = window.innerWidth;
      const screenHeight = window.innerHeight;
      const left = (screenWidth - popupWidth) / 2;
      const top = (screenHeight - popupHeight) / 2;

      // Create a new window with the Calendly link
      const newWindow = window.open('https://calendly.com/tundrajunk/book-a-meeting', '_blank', `width=${popupWidth},height=${popupHeight},left=${left},top=${top}`);

      // Ensure the new window has opened successfully
      if (newWindow) {
        // You can perform additional actions here if needed
      } else {
        // Handle the case where the pop-up window failed to open
        console.error('Failed to open the pop-up window.');
      }
    }
  </script>
</body>
</html>
